In [ ]:
import collections as c
c.Counter()

Counter()

In [ ]:
from collections import Counter
mylist=[10,10,20,30,20,40,60,'A']
Counter(mylist)

Counter({10: 2, 20: 2, 30: 1, 40: 1, 60: 1, 'A': 1})

In [ ]:
from collections import Counter
mylist=[10,10,20,30,20,40,60,'A']
a=Counter(mylist)

a.update([20,70])
print(a)
a.most_common(2)

Counter({20: 3, 10: 2, 30: 1, 40: 1, 60: 1, 'A': 1, 70: 1})

[(20, 3), (10, 2)]

In [ ]:
print(a)
list(a.elements())

Counter({20: 3, 10: 2, 30: 1, 40: 1, 60: 1, 'A': 1, 70: 1})

[10, 10, 20, 20, 20, 30, 40, 60, 'A', 70]

In [17]:
from collections import defaultdict

d = defaultdict(int)

d["a"] = 10
d["b"]
print(d.items())

dict_items([('a', 10), ('b', 0)])

In [18]:
mylist=[(10,"tushar"),(20,"aman"),(30,"abc")]

for data in mylist:
  print(data)

(10, 'tushar')
(20, 'aman')
(30, 'abc')

In [24]:
mylist=[(10,"tushar"),(20,"aman"),(10,"abc")]
s= defaultdict(list)

for roll,name in mylist:
  s[roll].append(name)

print(s)

defaultdict(<class 'list'>, {10: ['tushar', 'abc'], 20: ['aman']})

In [23]:
mylist=[(10,"tushar"),(20,"aman"),(10,"abc")]
s= defaultdict(list)

for roll,name in mylist:
  s[roll].append(name)

print(s[30])

[]

In [25]:
from collections import OrderedDict

o = OrderedDict()
o["a"]=1
o["b"]=99
o["aa"]=1991
o.move_to_end("b",last=False)
print(o)

OrderedDict([('b', 99), ('a', 1), ('aa', 1991)])

In [27]:
# namedtuple()
from collections  import namedtuple

In [29]:
Point123 = namedtuple ('Point',['x','y'])
p = Point123(11,22)
print(p.x)
print(p[0])

11
11

In [33]:
p._asdict()
p._replace(x=199)

{'x': 199, 'y': 22}

In [34]:

p._replace(x=199)
print(p)

Point(x=199, y=22)

In [39]:
Point123 = namedtuple ('Point',['x','y'])
x={'name':'suraj','age':22}
print(x)
Point123(**x)

{'name': 'suraj', 'age': 22}

TypeError: Point.__new__() got an unexpected keyword argument 'name'

In [40]:
# deque

In [41]:
# list => Stack

In [42]:
from collections import deque

In [43]:
dq = deque(["tushar","abc","xyz",20])

In [49]:
# Intersection of Two Arrays,
nums1 = [1,2,2,1]
nums2 = [2,2]
list1=[]
for i in nums1:
  for j in nums2:
    if i not in list1 and i in nums2:
      list1.append(i)
print(list1)

[2]

In [46]:
# Merge Sorted Array
nums1 = [1,2,3,0,0,0]
m=3
nums2 = [2,5,6]
n=32
for i in range(len(nums[3]),len(nums)):
  if i not in

[2]